*{
    border: .1px solid #ff0000;
    margin: 0.6em;
    padding: 0.6em;

}
/* html{
    font-size: 30px;
} */
    /* user-zoom: unset; */
    /* align-content: center; used for FLEX*/
    /* column-rule-style: double; */

body {
    background-image: url("../img/milkyway1.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 15px;
    margin: 15px;
    word-wrap: normal;
    resize: vertical;
    transition-timing-function: ease-in;
    transition-duration: 1000ms;
    align-self: auto;
    align-content: center;

    /* Grid setup */
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: auto;
    /* grid-gap: 20px; */

    grid-template-areas: 

    "nav nav"
    "yt yt"
    "git git"
    "ard ard"
    "skill skill"
    "cert cert"
    "tech tech"
    "work work"
    "edu edu"
    "foot social";
  }

    /*Grid for testing*/
.avatar {background-color: green;}
.navi {background-color: rgb(81, 223, 81);}
.yt { background-color: lightsalmon; }
.git { background-color: lightslategray; }
.ard { background-color: darkgoldenrod; }
.skill { background-color: darkmagenta; }
.cert { background-color: darkturquoise; }
.tech { background-color: blue; }
.work { background-color: yellow; }
.edu { background-color: plum; }
.social{ background-color: rgb(175, 175, 41);}
.foot{ background-color: lime;}

/* Grid naming section and properies */

.avatar { grid-area: avatar; }
.navi { grid-area: nav; }
.yt { grid-area: yt; }
.git { grid-area: git; }
.ard { grid-area: ard; }
.skill { grid-area: skill; }
.cert { grid-area: cert; }
/* setting up grid inside grid */
.tech 
{ grid-area: tech; 
  display: grid;
  
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-gap: 0.1rem;

  grid-template-areas: 

  "techH1 techH1"
  "p1 p2"
  "p3 p4"
  "p5 p6"
  "p7 p8";

}
.work { grid-area: work; }
.edu { grid-area: edu; }
.social { grid-area: social; }
.foot 
{ grid-area: foot; 
  font-size: 12px;
  padding: 0;
  
}


#techH1 {
    grid-area: techH1;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    font-size: 16px;
    max-width: 98%;
    justify-content: center;
}
#p1 {
    grid-area: p1;
    margin: 0;
    padding: 0;
    /* text-align: center; used for FLEX*/
    align-items: center;
    display: flex;
    /* justify-content: center; */
    width: inherit;    
}
#p2 {
    grid-area: p2;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    width: inherit;
}
#p3 {
    grid-area: p3;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    width: inherit;
}
#p4 {
    grid-area: p4;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    width: inherit;
}
#p5 {
    grid-area: p5;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    width: inherit;
}
#p6 {
    grid-area: p6;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    width: inherit;
}
#p7 {
    grid-area: p7;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    width: inherit;
}
#p8 {
    grid-area: p8;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    width: inherit;
}


/* .social {
font-size: 16px;
} */

 .social a{

     padding: 10px;
     margin: 10px;
 }

/* Fints needs to be down loaded*/
/* @font-face {
    font-family: 'Cherry Monospace-Light';
    src: url( '../fonts/cherry-monospace/Cherry\ Monospace-Light.ttf' );
    src:
      url( '../fonts/cherry-monospace/Cherry\ Monospace-Light.ttf' )
      format( 'truetype' );
    font-weight: normal; 
    font-style: normal; 
  } */


/* Profile picture */
img.avatar {
    vertical-align: middle;
    width: 80px;
    height: 100px;
    border-radius: 50%;
    flex-shrink: 0;
  }


  /* Flex Container settings (to change direction = flex-direction: column; */
  .navi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
  /* nav a.links{
   
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateX(-50%);
} */

  nav a:hover {
    color: #0000dd; 
  } 
  
  /*
  .nav > li { display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    font-size: 15px;
  }
  
  .nav > li{
    margin-left:35px;
    margin-right:35px;
  } 
  */
/* #navbar {
    display: flex;
    min-height: 100px;
    grid-auto-flow: column;
    background-color: #fcfcfc;
    grid-gap: 1.5em;
    padding: 0 40px;
    -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
    -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
    box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  }
  
  #logo {
    display: flex;
    justify-content: start;
    align-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
  }
  
  .logo span {
    color: #0474bc;
  }
  
  #links {
    display: flex;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    color: #0474bc;
  } */

