/* This file is for type, and whitespace around letters */


/* Fonts needs to be down loaded*/
@font-face {
    font-family: 'Rubik';
    src: url( '../fonts/Rubik/Rubik-VariableFont_wght.ttf' );
    src: url( '../fonts/Rubik/Rubik-VariableFont_wght.ttf' ) format( 'truetype' );
    font-weight: normal; 
    font-style: normal; 
}
  
@font-face {
    font-family: 'Oswald';
    src: url( '../fonts/Oswald/OswaldSemiBold.ttf' );
    src: url( '../fonts/Oswald/OswaldSemiBold.ttf' ) format( 'truetype' );
    font-weight: normal; 
    font-style: normal;
   
}
h1, .navi a {
    font-family: 'Oswald', 'Courier New', 'Courier', 'monospace';
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: -1rem;
    font-size: 1.7rem;
    /* outline for more contrast on Headings */
    -webkit-text-stroke: 1px black;
    color: rgb(235, 175, 45);
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}
h2, .validForm, nav{
    font-family: 'Rubik','Courier New', 'Courier', 'monospace';
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 1.2rem;
    font-weight: 700;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 15px;
}
.foot { 
    font-size: 12px;
}
.downloadBtn {
    text-decoration: none;
    text-align: center;
    font-size: 10px;
}